{% load static %}
<div class="col-md-9">
  	<div class="row mt-3">
		{% for product in products %}
		<div class="col-lg-4 col-md-6  col-sm-8  mb-4 each-product">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h5 class="product-name"><strong>{{product.name}}</strong></h5>
				<h5 class="product-price">${{product.price}}</h5>
				<!--<hr>-->
				<a href="{% url 'store:product' product.id %}"  class="btn btn-sm btn-outline-secondary view-details mb-2">View Product </a>
				<button data-product="{{product.id}}" data-action="add" class="btn btn-sm btn-outline-secondary add-btn update-cart mb-2"><span class="lnr lnr-cart"></span> Add to Cart</button>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
  
