{% load static %}
{% extends 'store/partials/index.html' %}
{% block content %}
	<div class="col-md-9">
		{% if product %}
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h5 class="product-name"><strong>{{product.name}}</strong></h5>
				<h5 class="product-price">${{product.price}}</h5>
				<!--<hr>-->
				<button data-product="{{product.id}}" data-action="add" class="btn btn-sm btn-outline-secondary add-btn update-cart"><span class="lnr lnr-cart"></span> Add to Cart</button>
			</div>
		{% endif %}
    </div>
{% endblock content %}