{% load static %}
<div class="col-md-3 links">
	<h5 class="group-title">Brands</h5>
	<div class="list-group">
		{% for brand in brands %}
		<a href="{% url 'store:brand' brand.name %}" class="list-group-item list-group-item-action">
    		{{brand.name}}
  		</a>
		{% endfor %}	  	
	</div>
    
	<h5 class="group-title">Categories</h5>
	<div class="list-group">
		{% for tag in tags %}
		<a href="{% url 'store:tag' tag.name %}" class="list-group-item list-group-item-action">
    		{{tag.name}}
  		</a>
		{% endfor %}
	</div>

	<h5 class="group-title">Collections</h5>
	<div class="list-group">
		{% for collection in collections %}
		<a href="{% url 'store:collection' collection.name %}" class="list-group-item list-group-item-action">
    		{{collection.name}}
        </a>
		{% endfor %}
	</div>
</div>