@import '../abstract/abstract-dir';



.col-md-6.page-banner_left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;

    // Small devices (landscape phones, 576px and up)
    @media (min-width:596.98px) and (max-width: 844.98px) {
        height: 35vh;
    }

    @media (min-width:320.98px) and (max-width: 575.98px) {
        height: 30vh;
    }

    @media (max-width: 320px) {
        height: 32vh;
    }
}

.page-banner {
    font-family: $font-poppins;

    &_heading {
        @include content-heading;
    }

    &_divider {
        @include divider;

    }

    &_subheading {
        @include content-subheading;
    }

    &_button.btn {

        @include content-button;
    }
}