@import '../abstract/abstract-dir';


.bg-dark {
    background-color: #fff !important;
}

.page-header {
    background-color: white;
    height: 60vh;
    overflow: hidden;
}

.navbar-dark {
    & .navbar-brand {
        color: black;
        font-weight: 700;

        &:hover {
            @include nav-hover;
        }
    }

    & .navbar-nav .nav-link {
        @include nav-links;

        &:hover {
            @include nav-hover;
        }

        &:active {
            @include nav-active;
        }

        &:visited {
            @include nav-visited;
        }
    }

    & .navbar-toggler {
        color: black;
        border-color: black;
    }
}

link:hover {
    @include nav-hover;
}

a.nav-link {
    @include nav-links;

    &:hover {
        @include nav-hover;
    }

    &:active {
        @include nav-active;
    }

    &:visited {
        @include nav-visited;
    }
}

#cart-total {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: -20px;
}